{% include 'base.html' %}
{% include 'adminnav.html' %}

{% block content %}
<div class="container w-50 my-5">
 
</div>
<h1 class="text-center"> LOGIN DETAILS</h1>
<hr>
<div style="padding-left: 173px;" class="container mt-5 ">
    
 
    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last name</th>
            <th scope="col">User name</th>
            <th scope="col">Email address</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
            
            
          </tr>
        </thead>
        <tbody>
          
          {% for adduser in Adduser %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{adduser.first_name}}</td>
            <td>{{adduser.last_name}}</td>
            <td>{{adduser.username}}</td>
            <td>{{adduser.email}}</td>
            {% comment %} <td><a class="btn btn-danger" href="delete_user(id)">Delete</a></td> {% endcomment %}   
          </tr>
          
          {% endfor %}
          
        </tbody>
      </table>

    
</div>


{% endblock content %}
{% include 'footer.html' %}