{% include 'base.html' %}
{% include 'adminnav.html' %}
{% include 'adminsidebar.html' %} 

{% block content %}

<div class="container mt-5 mb-1">
 

<h1 class="text-center">Feedback</h1>
<hr>
<div style="padding-left: 173px;" class="container mt-5 ">
    
 
    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">User name</th>
            <th scope="col">complaint Subject</th>
            
            <th scope="col">Feedback</th>
            
            
          </tr>
        </thead>
        <tbody>
          
          {% for feedback in Feedcomplaints %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{feedback.name}}</td>
            <td>{{feedback.feed_sub}}</td>
            <td>{{feedback.feed_description}}</td>
        
            <!-- <td> <button href="/delete_user/{{adduser.id}}" class="btn btn-danger">Delete</button></td>
               -->
          </tr>
          
          {% endfor %}
          
        </tbody>
      </table>

    
</div>
</div>
{% endblock content %}






<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% include 'footer.html' %}