{% include 'base.html' %}

{% include 'nav.html' %}
{% include 'usersidebar.html' %}
{% block content %}
<div class="glass-container mt-5 mb-1" ><br><br><br>
  <form class="glass-form col-6 mx-auto  p-3" method="post" enctype="multipart/form-data">
      <!-- {% csrf_token %}
    <h1 class="text-center">Please Submit Your Feedback</h1>
    <input type="text"  placeholder="Enter Complaint Subject" name="feed_sub">
    <input type="text" placeholder="Enter your Feedback" name="feed_description"> -->
    <!-- <div class="container mt-5 mb-1">
      <form class="col-6 mx-auto card p-3" method="post" enctype="multipart/form-data"> -->
      {% csrf_token %}
          <h1 class="text-center">Feedback</h1>
          <hr>
           <div class="mb-3">
              <label for="exampleInputName" class="form-label">Complaint Subject</label>
              <input name="feed_sub" required type="text" placeholder="Enter Complaint Subject" class="form-control" id="exampleInputName">
            </div> 
            <div class="mb-3">
              <label for="exampleInputName" class="form-label">Feedback</label>
              <input name="feed_description" required type="text" placeholder="Enter your Feedback" class="form-control" id="exampleInputName">
            </div> 
    <button type="submit" class="form-control btn btn-primary">Submit</button>
  </form>
  <!-- {%for msg in messages%}
  <h3>{{msg}}</h3>
  {%endfor%} -->
</div>

<!-- <style>

  * {
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
  
  }
  .glass-container {
    position: relative;
    height: 1000px;
    width: 750px;
    margin: 0 auto;
    margin-top: 0px;
  }
  .glass-form {
    color: #0f0f0f;
    padding: 20px;
    height: auto;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: thin solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12px);
    box-shadow: 0px 28px 48px rgba(0, 0, 0, 0.1);
    place-content: center;
  }
  .form-footer {
    text-align: center;
  }
  .glass-form a {
    font-size: 12px;
    text-decoration: underline;
    color: #fff8f8;
  }
  .glass-form  input {
    display: block;
    color: #000000;
    width: 100%;
    height: 65px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 10px;
    outline: none;
    background: rgba(225, 225, 225, 0.1);
    border: none;
    border-top: 1px solid rgba(225, 225, 225, 0.3);
    box-shadow: 0px 10px 21px rgba(0, 0, 0, 0.1);
  
  }
  .glass-form input:hover {
    background: rgb(218, 218, 218);
    transition: 0.5s;
  }
  input::placeholder {
    color: #ede7e7;
  }
  
  </style> -->
  
{% endblock content %}
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% include 'footer.html' %}


