{% include 'base.html' %}
{% include 'nav.html' %}


{% include 'usersidebar.html' %}

  {% block content %}

<!-- <div class="d-flex align-items-start">
  <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
   <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true"></button></a>
  <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="true">Edit Profile</button></a>
    <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Add complaints</button></a>
   <button class="nav-link" id="v-pills-disabled-tab" data-bs-toggle="pill" data-bs-target="#v-pills-disabled" type="button" role="tab" aria-controls="v-pills-disabled" aria-selected="false" >view complaints</button></a>
   <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Feedback</button></a>
    
  </div>
   <div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">...</div>
    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">...</div>
    <div class="tab-pane fade" id="v-pills-disabled" role="tabpanel" aria-labelledby="v-pills-disabled-tab" tabindex="0"><h1 class="text-center"> Complaint Registration Form</h1>
      <hr>
      <div class="container mt-5 text-center w-50  ">
        <form class=" " method="post" enctype="multipart/form-data">
          {% csrf_token %}
            <h1 class="text-center"> Register Your Complaints</h1>
            <hr>
            <div class="mb-3">
                <label for="exampleInputName" class="form-label">Name</label>
                <input name="name" required type="text" class="form-control" id="exampleInputName">
              </div>
              <div class="mb-3">
                <label for="exampleInputflatblock" class="form-label">Flat Block</label>
                <input name="flatblock" required type="text" class="form-control" id="exampleInputflatblock">
              </div>
              <div class="mb-3">
                <label for="exampleInputflatno" class="form-label">Flat Number</label>
                <input name="flatno" required type="number" class="form-control" id="exampleInputflatno">
              </div>
              <div class="mb-3">
                <label for="exampleInputdate" class="form-label">Date</label>
                <input name="date" required type="date" class="form-control" id="exampleInputdate">
              </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input name="email" required  type="email" class="form-control"  aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputphoneno" class="form-label">Phone Numer</label>
              <input name="phoneno" required  type="number" class="form-control" >
              
            </div>
            <div class="mb-3">
              <label for="exampleInputdate" class="form-label">Complaint Subject</label>
              <input name="complainttitle" required type="text" class="form-control" id="exampleInputdate">
            </div>
            
            <div class="mb-3">
                <label for="exampleInputfiles" class="form-label">Files</label>
                <input name="complaintmedia" required type="file" class="form-control" id="exampleInputfiles">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Complaint Description</label>
                <textarea class="form-control" name="complaintdescription" required id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    
          
          
    </div></div>
    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab" tabindex="0">...</div>
    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab" tabindex="0">...</div>
  </div>
</div>  -->

{% if user.is_authenticated %}
<div class="center">
    <div class="title">Welcome {{user.first_name}}</div>
    <div class="sub_title">Have any Grievance? </div>
    <div class="sub_title">Submit it Now!</div>
    <div class="btns">
      <button><a style="color: #000000;" href="/add/">Add Grievance</a></button>
        </div>
  </div>
{% endif %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 10;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
::selection{
  color: #000;
  background: #fff;
}

.menu .logo a{
  text-decoration: none;
  color: #121212;
  font-size: 35px;
  font-weight: 600;
}
.menu ul{
  display: inline-flex;
}
.menu ul li{
  list-style: none;
  margin-left: 7px;
}
.menu ul li:first-child{
  margin-left: 0px;
}
.menu ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.menu ul li a:hover{
  background: #fff;
  color: black;
}
.img{
  background: url('img3.jpg')no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
.img::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.center{
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  padding: 0 20px;
  text-align: center;
}
.center .title{
  color: #000000;
  font-size: 55px;
  font-weight: 600;
}
.center .sub_title{
  color: #000000;
  font-size: 42px;
  font-weight: 600;
}
.center .btns{
  margin-top: 20px;
}
.center .btns button{
  height: 55px;
  width: auto;
  border-radius: 5px;
  border: none;
  margin: 0 10px;
  border: 2px solid white;
  font-size: 20px;
  font-weight: 500;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}
.center .btns button:first-child{
  color: #fff;
  background: none;
}
.btns button:first-child:hover{
  background: white;
  color: black;
}
.center .btns button:last-child{
  background: white;
  color: black;
}
</style>



{% endblock content %}




    
{% include 'footer.html' %}