{% include 'base.html' %}

{% include 'navigation.html' %} 

{% block content %}

          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'admin_login' %}">Admin</a></li>
            <li><a class="dropdown-item" href="{% url 'loggvt' %}">Resident staff</a></li>
            <li><a class="dropdown-item" href="{% url 'logi' %}">Member</a></li>
            </ul>
          </li>
         
              
          </ul>
        </div>      
          
    </div>
  </nav>
  {% if error == "no" %}
  <script>
      alert('logged in successfully');
      window.location = "{% url 'staffi' %}";
  </script>
{% endif %}
{% if error == "yes" %}
  <script>
  alert('invalid login try again!');
  </script>
{% endif %}

<div class="container w-50 my-5">
    <h2 class="text-center">Resident staff Login</h2>
    <form method="POST">
        {% csrf_token %}
        <label>Resident staff</label>
        <input type="text" class="form-control" name="uname">
        <label>Password</label>
        <input type="password" class="form-control" name="pwd">
        <br>
        <input type="submit" value="login" class="form-control btn btn-primary">
        <a href="{% url 'signup' %}" >Create a account</a>
    </form>
</div>

{% endblock content %}


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% include 'footer.html' %}