{% include 'base.html' %}
{% include 'navb.html' %}
{% include 'staffdash.html' %} 
{% block content %}
<div class="container mt-5">
<div class="center mt-10">
<form method="post">
    {%csrf_token%}
    <h5>Are you sure to delete this person?</h5><br>
      <input class="btn btn-warning" type="submit">
  </form>
</div>
{% endblock content %}
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% include 'footer.html' %}

<style>

.container{
  text-align: center;
}
</style>