{% include 'base.html' %}
{% include 'navigation.html' %}


{% block content %}

<h1 class="text-center" style="margin-top: 50px;">About US</h1>
<div class="container" style="margin-top: 100px;">
    <div class="row">
        <div class="col-md-6">
            <h1 class="strong"> who we are and<br> what we do</h1>
            <p class="lead">This is the Official portal of <br> Resdident Association Complaint Registration System</p>
        </div>
        <div class="col-md-6">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla commodi quisquam ipsum in libero labore fugiat aliquam reiciendis vitae doloribus aut, similique nostrum quia, eius quas ea cupiditate assumenda et.</P>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quaerat quasi magnam minus laborum saepe reprehenderit eveniet nobis, error excepturi nihil deleniti quibusdam dolores beatae repellat dolor sit doloremque temporibus.
            Lorem ipsum dolor sit amet.consectetur adipisicing elit.Cupiditate magnam quo officiis amet, quia, eaque quis nobis perferendis et, possimus accusantium nam. Quo similique minima assumenda delectus expedita aut tempore!</p>
        </div>

        <div class="row">
            <div class="site-heading text-center">
                <h3>OUR TEAM</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quaerat quasi magnam minus laborum saepe reprehenderit eveniet nobis, error excepturi nihil deleniti quibusdam dolores beatae repellat dolor sit doloremque temporibus.</p>
                <div class="border"></div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% include 'footer.html' %}