<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="copyright-text-center">
                        <p class="text-white"> Copyright @ 2023 Digital all Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<style>
    {% comment %} #footer
    {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    } {% endcomment %}
     
</style>